/* --------------------------- STYLE FOR BOOK FEBRILE DESIDERATA --------------------------- */

/* Fire Gradient Title */
.fire-title-main {

    font-weight: 600 !important;
    font-size: clamp(40px, 5vw, 75px) !important;
    line-height: 1.1 !important;
    background: linear-gradient(to bottom, #fff, #c49b63, #a17a4a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* Custom Button Style - */
/* Nayi class sirf background aur padding ke liye */
.custom-banner-btn {
    display: inline-block !important;
    background: #493547 !important; /* Dark Purple */
    padding: 15px 30px !important;  /* Button ka size */
    color: #ffffff !important;      /* Text white rahega */
    text-decoration: none !important;
    text-transform: uppercase !important;
    transition: all 0.4s ease !important;
    border-radius: 0px !important;  /* Rectangular shape */
    border: none !important;
    text-align: center;
}

.custom-banner-btn:hover {
    transform: translateY(-5px) !important;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5) !important;
    background: #ffffff !important; /* Hover par white */
    color: #000 !important;      /* Hover par text purple */
}

/* Divs ke andar ka text center karne ke liye */
.custom-banner-btn div {
    display: inline-block;
}
#fire-canvas-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

/* Ensuring content stays above fire */
.n2-ss-layers-container {
    z-index: 2 !important;
    position: relative;
}