.elementor-10709 .elementor-element.elementor-element-cb6119e {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #8B887DB3;
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-10709 .elementor-element.elementor-element-f050ef5>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-10709 .elementor-element.elementor-element-3809b29>.elementor-background-overlay {
    background-image: url("");
    background-position: 106px -101px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.35;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10709 .elementor-element.elementor-element-3809b29 {
    border-style: none;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 40px 60px 40px;
}

.elementor-widget-divider {
    --divider-color: var(--e-global-color-secondary);
}

.elementor-widget-divider .elementor-divider__text {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-10709 .elementor-element.elementor-element-344d69c {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 1px;
    --divider-element-spacing: 16px;
}

.elementor-10709 .elementor-element.elementor-element-344d69c .elementor-divider-separator {
    width: 100%;
}

.elementor-10709 .elementor-element.elementor-element-344d69c .elementor-divider {
    padding-block-start: 15px;
    padding-block-end: 15px;
}

.elementor-10709 .elementor-element.elementor-element-344d69c .elementor-divider__text {
    color: var(--e-global-color-7dcb736);
    font-family: "Cinzel Decorative", serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-widget-image .widget-image-caption {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-10709 .elementor-element.elementor-element-0ff388a img {
    width: 90%;
}

.elementor-10709 .elementor-element.elementor-element-6faf482>.elementor-background-overlay {
    background-image: url("../../2023/09/12.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.4;
}

.elementor-10709 .elementor-element.elementor-element-6faf482 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var(--e-global-color-b93d943);
    padding: 60px 0px 60px 0px;
}

.elementor-10709 .elementor-element.elementor-element-4c39c8a {
    --divider-border-style: solid;
    --divider-color: #113756;
    --divider-border-width: 1px;
    --divider-element-spacing: 16px;
}

.elementor-10709 .elementor-element.elementor-element-4c39c8a .elementor-divider-separator {
    width: 100%;
}

.elementor-10709 .elementor-element.elementor-element-4c39c8a .elementor-divider {
    padding-block-start: 15px;
    padding-block-end: 15px;
}

.elementor-10709 .elementor-element.elementor-element-4c39c8a .elementor-divider__text {
    color: var(--e-global-color-7dcb736);
    font-family: "Cinzel Decorative", serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-10709 .elementor-element.elementor-element-01fe351:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10709 .elementor-element.elementor-element-01fe351>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFFB5;
}

.elementor-10709 .elementor-element.elementor-element-01fe351>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-10709 .elementor-element.elementor-element-01fe351>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    color: var(--e-global-color-primary);
}

.elementor-10709 .elementor-element.elementor-element-26cc56d .elementor-heading-title {
    font-family: "Cinzel", serif;
    font-size: 40px;
    font-weight: 400;
}

.elementor-10709 .elementor-element.elementor-element-104c314 .elementor-heading-title {
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
    color: var(--e-global-color-be04b73);
}

.elementor-widget-text-editor {
    font-family: var(--e-global-typography-text-font-family), serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    color: var(--e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-10709 .elementor-element.elementor-element-e1349ae {
    font-family: "Lora", serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--e-global-color-dbb9447);
}

.elementor-widget-button .elementor-button {
    background: #495562 !important; 
    color: #ffffff !important;
    padding: 15px 30px;
    border-radius: 4px;
    border: none;
    cursor: pointer !important;
    transition: 
        background-color 0.4s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease !important;
}

.elementor-10709 .elementor-element.elementor-element-de3b2f8 .elementor-button:hover,
.elementor-10709 .elementor-element.elementor-element-de3b2f8 .elementor-button:focus,
.elementor-10709 .elementor-element.elementor-element-de3b2f8 .elementor-button:active{
    background: #3b4653 !important; 
    transform: translateY(-2px) !important;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25) !important;
    transform: translateY(0) !important;
    box-shadow: 0 5px 12px rgba(0,0,0,0.2) !important;
}

.elementor-10709 .elementor-element.elementor-element-de3b2f8 .elementor-button {
    font-family: "Cinzel Decorative", serif;
    font-weight: 500;
}

.elementor-10709 .elementor-element.elementor-element-8047f3d {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 1px;
}

.elementor-10709 .elementor-element.elementor-element-8047f3d>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-10709 .elementor-element.elementor-element-8047f3d .elementor-divider-separator {
    width: 100%;
}

.elementor-10709 .elementor-element.elementor-element-8047f3d .elementor-divider {
    padding-block-start: 15px;
    padding-block-end: 15px;
}

.elementor-10709 .elementor-element.elementor-element-8047f3d .elementor-divider__text {
    color: var(--e-global-color-2705870);
    font-family: "Cinzel Decorative", serif;
    font-size: 22px;
    font-weight: 400;
}

.elementor-widget-testimonial-carousel .elementor-testimonial__text {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-testimonial-carousel .elementor-testimonial__name {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-primary-font-family), serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-testimonial-carousel .elementor-testimonial__title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-secondary-font-family), serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-10709 .elementor-element.elementor-element-e6ebd98 .swiper-pagination-bullet-active,
.elementor-10709 .elementor-element.elementor-element-e6ebd98 .swiper-pagination-progressbar-fill {
    background-color: var(--e-global-color-b93d943);
}

.elementor-10709 .elementor-element.elementor-element-e6ebd98 .swiper-pagination-fraction {
    color: var(--e-global-color-b93d943);
}

.elementor-10709 .elementor-element.elementor-element-e6ebd98 .elementor-swiper-button {
    font-size: 20px;
    color: var(--e-global-color-b93d943);
}

.elementor-10709 .elementor-element.elementor-element-e6ebd98 .elementor-swiper-button svg {
    fill: var(--e-global-color-b93d943);
}

.elementor-10709 .elementor-element.elementor-element-e6ebd98 .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background-color: var(--e-global-color-accent);
    opacity: var(--e-global-color-accent);
}

.elementor-10709 .elementor-element.elementor-element-e6ebd98 .elementor-testimonial__text {
    font-family: "Lora", serif;
    font-size: 22px;
    font-weight: 400;
}

.elementor-10709 .elementor-element.elementor-element-e6ebd98 .elementor-testimonial__name {
    color: var(--e-global-color-accent);
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-10709 .elementor-element.elementor-element-e6ebd98 .elementor-testimonial__title {
    font-family: "Lora", serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-10709 .elementor-element.elementor-element-f8ad0ec {
    text-align: center;
}

.elementor-10709 .elementor-element.elementor-element-337dff4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-10709 .elementor-element.elementor-element-337dff4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10709 .elementor-element.elementor-element-00d2691 {
    --swiper-slides-to-display: 6;
    --swiper-slides-gap: 10px;
}

.elementor-10709 .elementor-element.elementor-element-00d2691 .swiper-slide>.elementor-element {
    height: 100%;
}

.elementor-10709 .elementor-element.elementor-element-4af2dce {
    --spacer-size: 30px;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var(--e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-text-font-family), serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var(--e-global-color-secondary);
}

.elementor-10709 .elementor-element.elementor-element-d0c179d .elementor-icon-list-icon i {
    color: var(--e-global-color-304984a);
    transition: color 0.3s;
}

.elementor-10709 .elementor-element.elementor-element-d0c179d .elementor-icon-list-icon svg {
    fill: var(--e-global-color-304984a);
    transition: fill 0.3s;
}

.elementor-10709 .elementor-element.elementor-element-d0c179d {
    --e-icon-list-icon-size: 32px;
    --icon-vertical-offset: 0px;
}

.elementor-10709 .elementor-element.elementor-element-d0c179d .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-10709 .elementor-element.elementor-element-d0c179d .elementor-icon-list-item>a {
    font-family: "Lora", serif;
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
}

.elementor-10709 .elementor-element.elementor-element-d0c179d .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-304984a);
}

.elementor-10709 .elementor-element.elementor-element-d0c179d .elementor-icon-list-text {
    transition: color 0.3s;
}

:root {
    --page-title-display: none;
}

@media(min-width:768px) {
    .elementor-10709 .elementor-element.elementor-element-01fe351 {
        width: 60.268%;
    }

    .elementor-10709 .elementor-element.elementor-element-b23e2ee {
        width: 39.732%;
    }
}

@media(max-width:1024px) {
    .elementor-10709 .elementor-element.elementor-element-3809b29>.elementor-background-overlay {
        background-position: 0px 0px;
    }

    .elementor-widget-image .widget-image-caption {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-widget-text-editor {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-widget-testimonial-carousel .elementor-testimonial__text {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-10709 .elementor-element.elementor-element-00d2691 {
        --swiper-slides-to-display: 2;
    }

    .elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-widget-icon-list .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
    }
}

@media(max-width:767px) {
    .elementor-10709 .elementor-element.elementor-element-3809b29>.elementor-background-overlay {
        background-position: 0px 0px;
    }

    .elementor-10709 .elementor-element.elementor-element-3809b29 {
        padding: 60px 0px 60px 0px;
    }

    .elementor-10709 .elementor-element.elementor-element-344d69c .elementor-divider {
        text-align: center;
    }

    .elementor-10709 .elementor-element.elementor-element-344d69c .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-widget-image .widget-image-caption {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-10709 .elementor-element.elementor-element-6faf482 {
        padding: 30px 0px 40px 0px;
    }

    .elementor-10709 .elementor-element.elementor-element-4c39c8a .elementor-divider {
        text-align: center;
    }

    .elementor-10709 .elementor-element.elementor-element-4c39c8a .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-widget-text-editor {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-10709 .elementor-element.elementor-element-8047f3d .elementor-divider {
        text-align: center;
    }

    .elementor-10709 .elementor-element.elementor-element-8047f3d .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-widget-testimonial-carousel .elementor-testimonial__text {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-10709 .elementor-element.elementor-element-f8ad0ec {
        width: initial;
        max-width: initial;
        text-align: right;
    }

    .elementor-10709 .elementor-element.elementor-element-f8ad0ec>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-10709 .elementor-element.elementor-element-00d2691 {
        --swiper-slides-to-display: 1;
    }

    .elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-widget-icon-list .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
    }
}